*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: rgb(137, 153, 57);
}

.card{
    width: 850px;
    height: 100px;
    background-color: #ccc;
    padding-left: 20px;
    margin: 20px;
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
    height: 20px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, maroon, pink, white, rgb(121, 44, 129));
    border-radius: 20px;
}